{% extends "authn/base.html" %}
{% load static %}

{% block content_head %}


{% endblock %}


{% block content_body %}

<!-- model for view data -->
<div class="modal fade " id="View_Model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">View Devices</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group ">
                            <!-- id for view  -->
                            <input type="hidden" name="view_EmployeesData_Id" id="view_EmployeesData_Id"> <br>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Emp ID</label>
                            <input type="text" class="form-control" id="view_Emp_ID" name="view_Emp_ID"
                                disabled>
                        </div>
                        <div class="form-group col-md-6">   
                            <label>Emp Name</label>
                            <input type="text" class="form-control" id="view_emp_name" name="view_emp_name"
                                disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Emp Email</label>
                            <input type="text" class="form-control" id="view_emp_email" name="view_emp_email"
                                disabled>
                        </div>
                        <div class="form-group col-md-6">     
                            <label>Department</label>
                            <input type="text" class="form-control" id="view_department_fk" name="view_department_fk" disabled>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="form-group col-md-6">   
                            <label>Designation</label>
                            <input type="text" class="form-control" id="view_designation_name" name="view_designation_name" disabled>
                        </div>
                        <div class="form-group col-md-6">     
                            <label>Manager</label>
                            <input type="text" class="form-control" id="view_manager" name="view_manager"
                                disabled>
                        </div>
                    </div> 
                    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- model for trigger button  add  data -->
<button type="button" class="col-lg-2 d-flex flex-column  btn btn-success template-demo" class="" data-bs-toggle="modal"
    data-bs-target="#add-user-model"><i class="fa fa-plus" aria-hidden="true">Add Employee</i></button>

<!-- model for add  data -->
<div class="modal fade" id="add-user-model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/add_emp_data" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form-group col-md-12">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Emp ID</label><strong style="color:red;">*</strong>
                            <input type="text" class="form-control" id="add_Emp_ID" name="add_Emp_ID" > <br>
                        </div>
                        <div class="form-group col-md-6">    
                            <label>Emp Name</label><strong style="color:red;">*</strong>
                            <input type="text" class="form-control" id="add_emp_name" name="add_emp_name" > <br>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="form-group col-md-6">       
                            <label>Emp Email</label><strong style="color:red;">*</strong>
                            <input type="text" class="form-control" id="add_emp_email" name="add_emp_email" > <br>
                        </div>
                        <div class="form-group col-md-6">    
                            <label>Department</label><strong style="color:red;">*</strong>
                            <!-- <input type="text" class="form-control" id="add_department_fk" name="add_department_fk" > <br> -->
                            <!-- <label>department_fk</label><strong style="color:red;">*</strong> -->
                            <select class=" form-control" name="add_department_fk" id="add_department_fk" data-placeholder="Select role"
                                style="width: 100%;" required>
                                <option value="" selected disabled></option>
                                {% for EmployeesData in all_emp_data %}
                                <option value="{{ EmployeesData.id }}">{{ EmployeesData.department_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6"> 
                            <label>Designation</label><strong style="color:red;">*</strong>
                            <input type="text" class="form-control" id="add_designation_name" name="add_designation_name" > <br>
                        </div>
                        <div class="form-group col-md-6">     
                            <label>Manager</label><strong style="color:red;">*</strong>
                            <input type="text" class="form-control" id="add_manager" name="add_manager" > <br>
                        </div>
                    </div>        
                        </div>  
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- pop-up delete Model-->
<div class="modal fade" id="Delete-Model">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="/delete_EmployeesData_type">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">Delete <i class="fa fa-trash"></i></h4>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this record <i class="fa fa-question-circle"></i></p>
                </div>
                <div class="modal-footer">
                    <input type="number" id="delete_id" name="delete_id" hidden>
                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit-user-role-Modal -->
<div class="modal fade" id="Edit_Model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/edit_EmployeesData" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form-group col-md-12">

                            <input type="hidden" name="empdata_id" id="empdata_id"> <br>
                    <div class="row">
                        <div class="form-group col-md-6">        
                            <label>Emp ID</label><strong style="color:red;">*</strong>
                            <input type="text" class="form-control" name="edit_Emp_ID" id="edit_Emp_ID" required>
                        </div>
                        <div class="form-group col-md-6">     
                            <label>Emp Email</label><strong style="color:red;">*</strong>
                            <input type="email" class="form-control" id="edit_emp_email" name="edit_emp_email"
                                required>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="form-group col-md-6">        
                            <label>Emp Name</label><strong style="color:red;">*</strong>
                            <input type="text" class="form-control" name="edit_emp_name" id="edit_emp_name" required>
                        </div>
                        <div class="form-group col-md-6">     
                            <label>Designation </label><strong style="color:red;">*</strong>
                            <input type="text" class="form-control" name="edit_designation_name" id="edit_designation_name">
                        </div>
                    </div>   
                    <div class="row">
                        <div class="form-group col-md-6">          
                            <label>Manager</label><strong style="color:red;">*</strong>
                            <input type="text" class="form-control" id="edit_manager" name="edit_manager" > <br>
                        </div>
                        <div class="form-group col-md-6">  
                            <label>Department</label><strong style="color:red;">*</strong>
                            <select class=" form-control" name="edit_department_fk" id="" data-placeholder="Select role"
                                style="width: 100%;" required>
                                <option value="" selected disabled></option>
                                {% for EmployeesData in all_emp_data %}
                                <option value="{{ EmployeesData.id }}">{{ EmployeesData.department_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>     
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- datatable for  role  -->
<div class="col-lg-12 d-flex flex-column">
    <table id="example1" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Emp ID</th>
                <th>Emp Name</th>
                <th>Emp Email</th>
                <th>Department</th>
                <!-- <th>Designation</th> -->
                <!-- <th>Manager</th> -->
                <th>Created date</th>
                <th>Updated date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
  </div>

{% endblock %}


{% block javascript %}
<script>
    
    $('.select2').select2();
    
    $(document).ready(function () {
      $('#example1').dataTable({
          "ordering": true,
          "PagingType": 'simple',
          "processing": true,
          "serverSide": false,
          "autoWidth": false,
          "searchDelay": 1000,
          "order": [[1, "desc"]],
          "ajax": "/show_employees_data",
          "language": {
              "emptyTable": "No data available in table!!"
          },
          "columns": [
              {"data": "Emp_ID"},
              {"data": "emp_name"},
              {"data": "emp_email"},
              {"data": "department_fk__department_name"},
            //   {"data": "designation_name"},
            //   {"data": "manager"},
              {"data": "create_dt",render: utc_to_date},
              {"data": "updated_dt",render: utc_to_date},
              {"data": "id", render: action_button},
          ]
      });
  
      function action_button(data, type, row, meta) {
              return '<center><button type="button" class="btn btn-success btn-rounded btn-icon" onClick="View(' + row['id'] + ')" data-bs-toggle="modal" data-bs-target="#View_Model" title="View"><i class="fa fa-eye"></i></button><button type="button" class="btn btn-success btn-rounded btn-icon" onClick="Edit(' + row['id'] + ')" data-bs-toggle="modal" data-bs-target="#Edit_Model" title="Edit"><i class="fa fa-edit"></i></button><button type="button" class="btn btn-danger mr-2" onClick="Delete(' + row['id'] + ')" data-bs-toggle="modal" data-bs-target="#Delete-Model" title="Delete"><i class="fa fa-trash fa-5x"></i></button></center>'
          }
      // for date fetching into create_dt 
      function utc_to_date(data, type, row, meta){
      return new Date(data).toString().slice(4, 24);
      console.log('===> Time:', data, type, row, meta);
          }
  
      function approve_button_show(data, type, row, meta) {
      if (data === true) {
          return '<button type="button" class="btn btn-secondary btn-sm is_approve" value="' + row['id'] + '" data-value="False"> <i class="fa fa-times">&nbsp;&nbsp;</i>Disapprove </button>';
      } else {
          return '<button type="button" class="btn btn-primary btn-sm is_approve" value="' + row['id'] + '" data-value="True"> <i class="fa fa-check">&nbsp;&nbsp;</i>Approve </button>';
      }
          }
          
    //   function admin_username(data, type, row, meta) {
    //   if (data === null) {
    //       return '-';
    //   } else {
    //       return data;
    //   }
    //       }    
   
   });
</script>
<!-- view filling funcnality -->
<script>
    function View(id) {
        console.log('===> View:', id);
        if (id) {
            // Here we are calling ajax for filling data into edit Student
            $.ajax({
                url: '/get_view_fun_EmployeesData_ajax',
                type: 'post',
                async: false,
                cache: false,
                data: {
                    'id': id
                },
                success: function (data) {
                    $('#view_EmployeesData_Id').val(data['id']);
                    $('#view_Emp_ID').val(data['Emp_ID']);
                    $('#view_emp_name').val(data['emp_name']);
                    $('#view_emp_email').val(data['emp_email']);
                    $('#view_department_fk').val(data['department_fk']);
                    $('#view_designation_name').val(data['designation_name']);
                    $('#view_manager').val(data['manager']);
                    // $('#view_memory').val(data['memory']);
                    // $('#view_location').val(data['location_name']);
                    // $('#view_device_assignee').val(data['assignee']);
                    // $('#view_device_additional_comments').val(data['additional_comment']);
                    

                }
            });
        }
    }
</script>
<script>
    function Edit(id) {
        console.log('===> Edit:', id);
        if (id) {
            // Here we are calling ajax for filling data into edit Student
            $.ajax({
                url: '/get_EmployeesData_ajax',
                type: 'post',
                async: false,
                cache: false,
                data: {
                    'id': id
                },
                success: function (data) {
                    console.log('===> data:', data);
                    $('#empdata_id').val(data['id']);
                    $('#edit_Emp_ID').val(data['Emp_ID']);
                    $('#edit_emp_name').val(data['emp_name']);
                    $('#edit_emp_email').val(data['emp_email']);
                    // $('#edit_user_role').val(data['role_fields']);
                    $('#edit_department_fk').select2().val(data['department_fk.department_name']).trigger('change'); 
                    $('#edit_designation_name').val(data['designation_name']);
                    $('#edit_manager').val(data['manager']);
                    console.log('===> data:', role_fields.role);
                }
            });
        }
    }
</script>
<!-- ajax for delete-->
<script>
    function Delete(id) {
        // console.log('===> :', id);
        if (id) {
            $('#delete_id').val(id);
        }
    }
</script>
{% endblock %}